<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664022703356-3b004kjjbkgd633evs84a2nvfofmmjrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664022703356-3b004kjjbkgd633evs84a2nvfofmmjrn</string>
	<key>API_KEY</key>
	<string>AIzaSyCV6IbFCGzq10f18lKbW0x8EaRS31LXhnI</string>
	<key>GCM_SENDER_ID</key>
	<string>664022703356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testing</string>
	<key>PROJECT_ID</key>
	<string>the-hill-residence</string>
	<key>STORAGE_BUCKET</key>
	<string>the-hill-residence.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664022703356:ios:159b7b679f6a7711f78b79</string>
</dict>
</plist>